@font-face {
    font-family: 'Rockwell';
    src: url('webfontkit-20230906-104343/rock-webfont.woff2') format('woff2'),
         url('webfontkit-20230906-104343/rock-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }
  

*{
    box-sizing: border-box;
    font-family: 'Karla', sans-serif;
    font-size: 22px;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: #6f1d1b;
}

header{
    position: sticky;
    top: 0;
    z-index: 100;
}

.botones{
    /*margin: -10px;*/
    height: 100px;
    background-color: #6f1d1b;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.botones a{
    text-decoration: none;
    
}

.botones__boton-inicio{
    margin-right: 30px;
}
.botones__boton-inicio a{
    color: #bb9457;
}

.botones__boton-acerca-de{
    margin-right: 30px;
}
.botones__boton-acerca-de a{
    color: #bb9457;
}
.botones__boton-productos{
    margin-right: 30px;
}
.botones__boton-productos a{
    color: #bb9457;
}

.botones__boton-inicio:hover{
    text-decoration: underline 1.5px #bb9457;
}

.botones__boton-acerca-de:hover{
    text-decoration: underline 1.5px #bb9457;
}

.botones__boton-productos:hover{
    text-decoration: underline 1.5px #bb9457;
}

.botones__boton-grande{
    height: 49px;
    width: 139px;
    background-color: #bb9457;
    margin-right: 30px;
    border-radius: 4px;
    text-align: center;
    transition: color 0.3s;
    outline: 1px solid #bb9457;
    padding: 11px;
    color: #6f1d1b;
}

.botones__boton-grande:hover{
    background-color: #6f1d1b;
    outline: 1px solid #bb9457;
    color: #bb9457;
}

#logo{
    width: 55px;
    cursor: pointer;
    margin-top: 0px;
    margin-left: 30px;
    margin-right: auto;
}

div.botones{
    border-bottom: 1px solid #bb9457
}






@media (max-width: 582px) {
    #logo {
        margin-left: 10px;
    }
}

@media (max-width: 465px) {
    .botones__boton-inicio {
        display: none
    }
}

@media (max-width: 544px) {
    .botones__boton-grande{
        margin-right: 15px;
    }

    .botones div a {
        margin-right: 1px;
        font-size: 17px;
    }

    .botones__boton-inicio{
        margin-right: 20px;
    }
    .botones__boton-acerca-de{
        margin-right: 10px;
    }
    .botones__boton-productos{
        margin-right: 20px;
    }
}

@media (max-width: 392px) {
    .botones__boton-productos {
        display: none;
    }
}


@media (max-width: 344px) {
    .botones__boton-acerca-de {
        display: none;
    }
}


@media (max-width: 276px) {

}



/* TITULO */

.main{
    margin-top: 0;
    display: flex;
    flex-direction: column;

    height: 400px;
    width: 100%;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    padding-top: 0;
}

.content {
    background-image: url('bg/local_mix3.jpeg');
    background-size: cover;
    background-repeat:repeat-y;
    margin-bottom: 0;
}

h1{
    font-family: 'Rockwell', sans-serif;
    display: block;
    width: 100vw;
    font-size: 50px;
    color: #bb9457;
    text-align: center;
    z-index: 10;
}

@media (max-width: 286px) {
    .titulo_main {
        font-size:35px;
    }  
} 
/* BOTONES MAIN */

.botones-main{
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-around;
}


.botones-main-1{
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 49px;
    width: 250px;
    background-color: #6f1d1b;
    margin-right: 30px;
    border-radius: 4px;
    text-align: center;
    transition: all 0.3s;
    outline: 1px solid #bb9457;
    color: #bb9457;
    margin-top: 20px;
    margin-bottom: 0px;
    
}
.botones-main-1:hover{
    background-color: #bb9457;
    outline: 1px solid #bb9457;
    color: #6f1d1b;
}
.botones-main-2{
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 49px;
    width: 250px;
    background-color: #6f1d1b;
    margin-right: 0px;
    border-radius: 4px;
    text-align: center;
    transition: all 0.3s;
    outline: 1px solid #bb9457;
    color: #bb9457;
    margin-top: 20px;
    margin-bottom: 0px;
}
.botones-main-2:hover{
    background-color: #bb9457;
    outline: 1px solid #bb9457;
    color: #6f1d1b;
}

@media (max-width: 582px) {
    .botones-main-1 {
        font-size: 20px;
        height: 44.1px;
        width: 225px;
        margin-right: 15px;
    }

    .botones-main-2 {
        font-size: 20px;
        height: 44.1px;
        width: 225px;
    }
}

@media (max-width: 518px) {
    .botones-main-1 {
        font-size: 18px;
        height: 39.69px;
        width: 202.5px;
    }

    .botones-main-2 {
        font-size: 18px;
        height: 39.69px;
        width: 202.5px;
    }
}

@media (max-width: 472px) {
    .botones-main-1 {
        font-size: 16.5px;
        height: 39.69px;
        width: 182.25px;
    }

    .botones-main-2 {
        font-size: 16.5px;
        height: 39.69px;
        width: 182.25px;
    }
}

@media (max-width: 392px) {
    .botones-main {
        margin-top: 10px;
        flex-direction: column;
        margin-bottom: 0;
    }

    .botones-main-2 {
        margin-top: 10px;
    }
}

/* WHITEBOX */
.whitebox {
    color: #bb9457;
    width: 100%;
    height: auto;
    margin-top: 0;
    background-color: #531614;
    outline: 1px solid #bb9457;
}

/* Primera info */

.primera_info {
    padding: 2%;
    background-color: #531614;
    display: flex;
    align-items: center;
    padding-top: 100px;
    margin-bottom: 100px;
}

.primera_info img {
    margin-left: 8%;
    width: 35%;
    border-radius: 4%;
}

.texto_001 {
    flex: 1;
    margin-left: 5%;
    margin-right: 8%;
    display: flex;
    flex-direction: column;
}

.texto_001 h3 {
    font-family: 'Rockwell', sans-serif;
    font-size:45px;
    margin-bottom: 20px;
    text-align: left;
}

.texto_001 p {
    text-align: left;
    font-size:26px;
}



/* Segunda info */

.segunda_info {
    padding: 2%;
    background-color: #531614;
    display: flex;
    align-items: center;
}

.segunda_info img {
    order: 1;
    margin-right: 8%;
    width: 35%;
    border-radius: 4%;
}

.texto_002 {
    flex: 1;
    margin-right: 5%;
    margin-left: 8%;
    display: flex;
    flex-direction: column;
}


.texto_002 h3 {
    font-family: 'Rockwell', sans-serif;
    font-size:45px;
    margin-bottom: 20px;
    text-align:end;
}

.texto_002 p {
    font-size:26px;
    text-align: right;
}

.texto_002 .p2 {
    margin-top: 8px;
    font-size:17px;
}



/* BOTON FINAL */
.seccion_final{
    background-color: #6f1d1b;
    display: flex;
    flex-direction: row;
    outline: 1px solid #bb9457;
    height: auto;
    width: 100%;
    align-items: center;
    align-content: center;
    justify-content: center;
    border-radius: 5px;
    margin-top: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 80%;
    margin-left: 10%;
    margin-top: 20px;
    margin-bottom: 20px;
}

@media (min-width: 1991px) {
    .seccion_final {
        width: 60%;
        margin-left: 20%;
    }
}

@media (max-width: 1990px) {
    .seccion_final {
        width: 70%;
        margin-left: 15%;
    }
}

@media (max-width: 1709px) {
    .seccion_final {
        width: 75%;
        margin-left: 13%;
    }
}

@media (max-width: 1593px) {
    .seccion_final {
        width: 80%;
        margin-left: 10%;
    }
}

.seccion_final h4 {
    text-align: left;
    margin-left: 30px;
    margin-right: 30px;
    font-size: 20px;
}


/* Acomodar texto siempre un renglon */

@media (max-width: 1218px) {
    .seccion_final h4 {
        font-size: 19px;
    }
}

@media (max-width: 1155px) {
    .seccion_final h4 {
        font-size: 18px;
    }
}

@media (max-width: 1106px) {
    .seccion_final h4 {
        font-size: 17px;
    }
}

@media (max-width: 1059px) {
    .seccion_final h4 {
        font-size: 16px;
    }
}

.boton_final{
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 49px;
    width: 200px;
    background-color: #6f1d1b;
    margin-right: 30px;
    border-radius: 4px;
    text-align: center;
    transition: all 0.3s;
    outline: 1px solid #bb9457;
    color: #bb9457;
    min-width: 200px;
}
.boton_final:hover{
    background-color: #bb9457;
    outline: 1px solid #bb9457;
    color: #6f1d1b;
}

@media (max-width: 1500px) {
    .seccion_final{
        width: 90%;
        margin-left: 5%;
    }
}

@media (max-width: 1129px) {
    .seccion_final{
        width: 100%;
        margin-left: 0;
        border-radius: 0;
    }
}

/* pantalla chica responsive, imagenes columna */

@media (max-width: 1366px) {
    header{
        height: 0px;
        margin: 0px;
        padding: 0px;
        
    }
    nav{
        height: 0px;
        margin: 0px;
        padding: 0px;
    }
    .botones{
        height: 60px;
        margin: 0px;
        padding: 0px;

    }

    #logo{
        width: 40px;
    }

    .botones a{
        font-size: 18px;
    }

    .botones__boton-grande{
        padding: 9.5px;
        height: 40px;
        width: 108px;
    }

    h1 {
        margin-top: 140px;
    }
    .main{
        height: 440px;
        margin-bottom: 0;
        padding-bottom: 100px;

    }
    .primera_info img {
        width: 40%;
    }

    .segunda_info img {
        width: 40%;
        
    }

    .seccion_final {
        flex-direction: column;

    }

    .seccion_final h4 {
        font-size: 22px;
        margin-top: 10px;
        margin-bottom: 20px;
    }

    .boton_final {
        margin-bottom: 10px;
    }

}

@media (max-width: 1366px) {
    .seccion_final h4 {
        font-size: 22px;
        margin-top: 10px;
        margin-bottom: 20px;
    }
}
@media (max-width: 1174px) {
    .seccion_final h4 {
        font-size: 20px;
    }
}
@media (max-width: 964px) {
    .seccion_final h4 {
        font-size: 19px;
    }
}
@media (max-width: 919px) {
    .seccion_final h4 {
        font-size: 21px;
    }
}


@media (max-width: 1106px) {
    .primera_info {
        flex-direction: column;
        align-items: flex-start; 
        padding: 5%;
        padding-top: 40px;
        margin-bottom: 0px;
    }

    .primera_info img {
        width: 50%;
        margin: 0;
        padding: 0;
        margin-bottom: 30px;
    }

    .texto_001 {
        margin-left: 0;
        padding: 0%;
 
    }

    .segunda_info {
        flex-direction: column;
        align-items: flex-start; 
        padding: 5%;
        text-align: justify;
    }

    .segunda_info img {
        order: 0;
        width: 50%;
        margin: 0;
        padding: 0;
        margin-bottom: 30px;
    }

    .texto_002 {
        margin-left: 0;
        padding: 0%;
        text-align: left;
    
    }

    .texto_002 h3 {
        text-align: left;
    }

    .texto_002 p, .texto_001 p {
        margin-left: 0;
        padding: 0%;
        text-align: left;
    
    }


    .seccion_final {
        margin-top: 0;
        margin-bottom: 0;
    }
    
}

/* Celular */

@media (max-width: 768px) {
    .primera_info {
        flex-direction: column;
        align-items: flex-start; 
        padding: 5%;
        padding-top: 40px;
        margin-bottom: 0px;
    }

    .primera_info img {
        width: 100%;
        margin: 0;
        padding: 0;
        margin-bottom: 30px;
    }

    .texto_001 {
        margin-left: 0; /* Elimina el margen en dispositivos más pequeños */
        padding: 0%;
 
    }

    .seccion_reviews {
        margin-top: 0;
    }

    .seccion_final {
        margin-top: 0;
        margin-bottom: 0;
    }

}

@media (max-width: 768px) {


    .segunda_info {
        flex-direction: column;
        align-items: flex-start; 
        padding: 5%;
        text-align: left;
    }


    .segunda_info img {
        order: 0;
        width: 100%;
        margin: 0;
        padding: 0;
        margin-bottom: 30px;
    }

    .texto_002 {
        margin-left: 0;
        padding: 0%;
        text-align: justify;
    }

    .texto_002 h3 {
        text-align: left;
        font-size: 40px;
    }

    .seccion_final {
        margin-top: 0;
        margin-bottom: -29px;
        border-radius: 0;
    }


}

@media (max-width: 462px) {

    .texto_001 h3 {
        font-size: 35px;
    }
    .texto_001 p {
        font-size: 23px;
    }

    .texto_002 h3 {
        font-size: 35px;
    }
    .texto_002 p {
        font-size: 23px;
    }

    #primera_info_img {
        transition: all 0.5s;
        margin-top: -80px;
        z-index: 1;
    }
    
}

pre {
    font-size: larger;
}

/* Opiniones - Reviews */

.seccion_reviews {
    width: 100%;
    height: auto;
    display: flex;
    background-color: #6f1d1b;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

.reviews {
    display: inline-flex;
    align-items: flex-start;
    justify-content: center;
}

.reviews img {
    width: 150px;
    margin-top: 15px;
}

.review_1, .review_2, .review_3 {
    margin-left: 5%;
    margin-right: 5%;
    width: 33.3%;
}

.review_1 h3, .review_2 h3, .review_3 h3 {
    font-size: 28px;
    margin-bottom: 10px;
}

.reviews img {
    margin-bottom: 35px;
}


/* Preguntas frecuentes */

.seccion_FAQ {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #bb9457;
    background-color: #531614;
    border-radius: 15px;
    padding: 30px;
    margin: 50px;
    margin-bottom: 0;
}

.seccion_FAQ h2 {
    font-family: 'Rockwell', sans-serif;
    font-size: 40px;
    margin-bottom: 20px;
}
.seccion_FAQ h3 {
    font-size: 27px;
    margin-top: 15px;
    margin-left: 2%;
    margin-right: 2%;
}
.seccion_FAQ p {
    font-size: 23px;
    margin-top: 10px;
    margin-left: 2%;
    margin-right: 2%;
}

@media (max-width: 768px) {

    .seccion_reviews {
        margin-top: 30px;
        margin-bottom: 0;
        padding-top: 30px;
        padding-bottom: 30px;
        padding-left: 5%;
        padding-right: 5%;
        padding-bottom: 0;
    }

    .reviews {
        flex-direction: column;
        align-items: center;
    }

    .review_1, .review_2, .review_3 {
        margin-left: 5%;
        margin-right: 5%;
        width: 100%;
    }

    .review_1 h3, .review_2 h3, .review_3 h3 {
        font-size: 30px;
        margin-bottom: 10px;
    }

    .reviews img {
        margin-bottom: 40px;
    }

    /* FAQ */
    .seccion_FAQ {
        display: flex;
        flex-direction: column;
        justify-content: center;
        color: #bb9457;
        background-color: #531614;
        border-radius: 15px;
        padding: 30px;
        margin: 0;
    }

}

@media (max-width: 462px) {

    .seccion_FAQ {
        padding-left: 3%;
        padding-right: 3%;
    }

    .seccion_FAQ h2 {
        font-size: 35px;
    }
    .seccion_FAQ h3 {
        font-size: 27px;
    }

    .seccion_FAQ P {
        font-size: 23px;
    }
}


/* Imagen 1 asomando */
@media (max-width: 582px) {
    .primera_info img {
        z-index: 1;
        transition: all 0.4s;
        margin-top: -80px;
    }

    #tercera_imagen {
        margin-top: 0;
    }
}
body {
    outline: 1px solid #bb9457;
    margin: 0 auto;
    max-width: 2000px;
}

/* FOOTER */

footer {
    height: 300px;
    margin-top: 45px;
    background-color:#bb9457;
}

footer a {
    color: #6f1d1b;
    text-decoration: none;
    margin-bottom: 8px;
}

.botones_footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.botones_footer1 {
    display: flex;
    flex-direction: column;
    padding-top: 70px;
}

.botones_footer2 {
    display: flex;
    flex-direction: column;
    padding-top: 70px;
}

.botones_footer2 a{
    display: inline-flex;
}

.botones_footer2 img {
    width: 30px;
    margin-right: 10px;
}

#cuarta_info {
    background-color: #bb9457;
    color: #6f1d1b;
}

@media (max-width: 919px) {
    footer {
        height: 450px;
    }

    .botones_footer{
        flex-direction: column;
        align-items: start;
        margin-left: 10%;
        
    }

    .botones_footer1{
        padding-top: 50px;
        order: 1;
    }

    .copyright {
        margin-top: 20px;
    }
}

/* Le quito el margen a las infos en tamaño normal-medio */

#id_primera_info {
    margin-bottom: 0;
}
.segunda_info {
    margin-bottom: 0;
}
#tercera_info {
    padding-top: 2%;
    margin-bottom: 0;
}

/* TAMAÑO PC GRANDE */

@media (min-width: 1586px) {
    h1 {
        font-size: 60px;
    }

    .botones-main-1{
        font-size: 23px;
    }
    .botones-main-2{
        font-size: 23px;
        
    }
}