*{
    box-sizing: border-box;
    font-family: 'Karla', sans-serif;
    font-size: 22px;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: #6f1d1b;
}

header{
    position: sticky;
    top: 0;
    z-index: 100;
}

.botones{
    /*margin: -10px;*/
    height: 100px;
    background-color: #6f1d1b;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.botones a{
    text-decoration: none;
    color: #bb9457;
}

.botones__boton-inicio{
    margin-right: 30px;
}

.botones__boton-acerca-de{
    margin-right: 30px;
}

.botones__boton-productos{
    margin-right: 30px;
}

.botones__boton-inicio:hover{
    text-decoration: underline 1.5px #bb9457;
}

.botones__boton-acerca-de:hover{
    text-decoration: underline 1.5px #bb9457;
}

.botones__boton-productos:hover{
    text-decoration: underline 1.5px #bb9457;
}

.botones__boton-grande{
    height: 49px;
    width: 139px;
    background-color: #6f1d1b;
    margin-right: 30px;
    border-radius: 4px;
    text-align: center;
    transition: all 0.3s;
    outline: 1px solid #bb9457;
    color: #bb9457;
    padding: 11px;
}

.botones__boton-grande:hover{
    background-color: #bb9457;
    outline: 1px solid #bb9457;
    color: #6f1d1b;
}

#logo{
    width: 55px;
    cursor: pointer;
    margin-top: 0px;
    margin-left: 30px;
    margin-right: auto;
}

div.botones{
    border-bottom: 1px solid #bb9457
}

/* TITULO */

.main{
    margin-top: 50px;
    display: flex;
    flex-direction: column;

    height: 400px;
    width: 100%;
    align-items: center;
    justify-content: center;
    font-weight: 700;
}

h1{
    font-family: 'Rockwell', sans-serif;
    display: block;
    width: 100vw;
    font-size: 50px;
    color: #bb9457;
    text-align: center;
    z-index: 10;
}

/* BOTONES MAIN */

.botones-main{
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-around;
}


.botones-main-1{
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 49px;
    width: 250px;
    background-color: #6f1d1b;
    margin-right: 30px;
    border-radius: 4px;
    text-align: center;
    transition: all 0.3s;
    outline: 1px solid #bb9457;
    color: #bb9457;
    margin-top: 20px;
    margin-bottom: 10px;
}
.botones-main-1:hover{
    background-color: #bb9457;
    outline: 1px solid #bb9457;
    color: #6f1d1b;
}
.botones-main-2{
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 49px;
    width: 250px;
    background-color: #6f1d1b;
    margin-right: 30px;
    border-radius: 4px;
    text-align: center;
    transition: all 0.3s;
    outline: 1px solid #bb9457;
    color: #bb9457;
    margin-top: 20px;
    margin-bottom: 10px;
}
.botones-main-2:hover{
    background-color: #bb9457;
    outline: 1px solid #bb9457;
    color: #6f1d1b;
}

/* WHITEBOX */
.whitebox {
    color: #bb9457;
    width: 100%;
    height: 3000px;
    margin-top: 100px;
    background-color: #641a18;
}

.primera_info {
    padding: 2%;
    background-color: #531614;
    display: flex;
    align-items: center;
}

.primera_info img {
    margin-left: 8%;
    width: 30%;
    border-radius: 4%
}

.texto_001 {
    flex: 1;
    margin-left: 5%;
    margin-right: 8%;
    display: flex;
    flex-direction: column;
}

.texto_001 h3 {
    font-family: 'Rockwell', sans-serif;
    font-size:45px;
    margin-bottom: 20px;
}

.texto_001 p {
    font-size:26px;
}

@media (max-width: 768px) {
    .primera_info {
        flex-direction: column;
        align-items: flex-start; 
        padding: 5%;
    }

    .primera_info img {
        width: 100%;
        margin: 0;
        padding: 0;
        margin-bottom: 30px;
    }

    .texto_001 {
        margin-left: 0; /* Elimina el margen en dispositivos más pequeños */
        padding: 0%;
        text-align: left;
    }
}


/* FOOTER */

footer {
    display: inline-flex;
    width: 100%;
    height: 200px;
    background-color: #4B0907;
}

.navegacion_footer{
    display: inline-flex;
    flex-direction: column;
}

footer a {
    text-decoration: none;
    color: #bb9457;
}